


/* Preloder */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}



/* --Social Top- */


.topsocial {
    font-size: 15px;

}

.socicon {

    text-align-last: center;
    padding-top: 20px;
}



/* ------- Nav Menu */

.navbar {
    padding: 0;

}

.bg-dark {

    background-color: #00adef !important;
}


/* ... banner ... */

.banimg {

width: 50%;

}


/* ------- Footer */

.footer {

    background-color: black;
    font-size: 10px;
    color: white;
    padding-right: 50px;
    padding-top: 20px;
    text-align: right;
    height: 100px;
}


/*---------------------
  Helper CSS
-----------------------*/






/*---------------------
  Phone
-----------------------*/

@media (max-width: 787px) {

    .col-6 {

        max-width: 100%;
        flex: 0rem;
    }

    .col-4 {

        max-width: 100%;
        flex: auto;
        padding: 15px;
    }

    .row {

        margin-right: 0px;
    }

    .socicon {

        text-align-last: center;
        padding-top: 10px;
    }

    .footer {

        background-color: black;
        font-size: 10px;
        color: white;
        text-align: center;
        height: 100px;
        padding-top: 50px;
    }


}






/*---------------------
  Tablet
-----------------------*/
@media (min-width: 769px) and (max-width: 991px) {

    .col-6 {

        max-width: 50%;
    }

    .col-4 {

        max-width: 33.33%;
        flex: 33.33%;
    }

    .row {

        flex-wrap: nowrap;
        margin-right: 0px;
    }


    .topsocial {
        font-size: 20px;

    }

    .socicon {

        text-align-last: right;
        padding-top: 15px;
        padding-right: 30px;
    }

}




/*---------------------
  Desktop
-----------------------*/

@media (min-width: 992px) {

    .col-6 {

        max-width: 50%;
    }

    .row {

        flex-wrap: nowrap;
        margin-right: 0px;
    }

    .topsocial {
        font-size: 25px;

    }

    .socicon {

        text-align-last: right;
        padding-top: 30px;
        padding-right: 30px;
    }

}