




/* ------- Products ---- */

.prods {

    text-align: justify;
}

.prods.modal-content {

    background-color: #242021;
    color: white;
    text-align: justify;
    width: 350px;
}

.prodtxt {
    font-size: 12px;
    text-align: justify;
}


.prodimg {

    width: 200px;
}


.btn-primary {
    background-color: #bd2130;

}


.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
  }
  
  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  





  



/*---------------------
  Helper CSS
-----------------------*/






/*---------------------
  Phone
-----------------------*/

@media (max-width: 787px) {








    .modal-dialog {

        overflow-x: scroll;
    }

    .modal-content {
        width: fit-content;
    }

    .prodimg {

        width: 120px;
        
    }

}






/*---------------------
  Tablet
-----------------------*/
@media (min-width: 769px) and (max-width: 991px) {



    .col-4 {

        max-width: 33.33%;
        flex: 33.33%;
    }




    
    .modal-dialog {

        max-width: 500px;;
    }

    .prodimg {

        width: 120px;
    }

}




/*---------------------
  Desktop
-----------------------*/

@media (min-width: 992px) {






    .prods.modal-content {

        width: 100%;
    }

    .modal-dialog {

        max-width: 700px;;
    }

    .prodimg {

        width: 290px;
    }

}
