



/* ------- Nav Menu */

.navbar {
    padding: 0;

}

.bg-dark {

    background-color: #A9A9A9 !important;
}


/* ... carousel ... */

.carousel-caption {
font-family: 'Great Vibes', cursive;
    right: 50%;
    bottom: 170px;
}

 .rowed {

    margin: 0px;
 }
  
  .carousel-indicators {
      bottom: 0;
  }
  .carousel-control.right,
  .carousel-control.left {
      background-image: none;
  }
  .carousel-item {
      min-height: 100%; 
      height: 100%;
      width:100%; 
  }
  .carousel-caption h3,
  .carousel .icon-container,
  .carousel-caption button {
      color: #000;
  
  }
  .carousel-caption h3 {

      font-size: 60px;
      font-style: oblique;
      color: red;
      padding-right: 90px;
}
 .carousel-caption h4 {
     padding-left: 0px;
      font-size: 40px;
     color: #000;
  }
  .carousel .icon-container {
      display: inline-block;
      color: #000;
      font-size: 25px;
      line-height: 25px;
      padding: 0.2em;
      text-align: center;
      border-radius: 50%;
  }
  .carousel-caption button {
  color: #000;
      margin-top: 0.5em; 
  }
  
  /* Animation delays */
  .carousel-caption h3:first-child {
      animation-delay: 1s;
  }
  .carousel-caption h3:nth-child(2) {
      animation-delay: 2s;
  }
  .carousel-caption button {
      animation-delay: 3s;
  }
  
  h1 {
    text-align: center;  
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .p {
    padding-top: 125px;
    text-align: center;
  }
  
  .p a {
    text-decoration: underline;
  }




/* ... banner ... */

.banimg {

    width: 50%;

}


.blur img{
    transition: 1s ease;
    }
    
    .blur img:hover {
    -webkit-filter: blur(5px);
    transition: 1s ease;
    }


/* ------- Footer */

.footer {

    background-color: black;
    font-size: 10px;
    color: white;
    padding-right: 50px;
    padding-top: 20px;
    text-align: right;
    height: 100px;
}

/* ------- Products ---- */

.prods {

    text-align: justify;
}

.prods.modal-content {

    background-color: #242021;
    color: white;
    text-align: justify;
    width: 350px;
}

.prodtxt {
    font-size: 12px;
    text-align: justify;
}


.prodimg {

    width: 200px;
}


.btn-primary {
    background-color: #bd2130;

}


.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
  }
  
  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
  }
  
  .accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
  }
  
  .accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
  }
  
  .accordion-option .toggle-accordion:before {
    content: "Expand All";
  }
  
  .accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
  }
  



/*---------------------
  Helper CSS
-----------------------*/






/*---------------------
  Phone
-----------------------*/

@media (max-width: 787px) {


    .col-4 {

        max-width: 100%;
        flex: auto;
        padding: 15px;
    }





    .footer {

        background-color: black;
        font-size: 10px;
        color: white;
        text-align: center;
        height: 100px;
        padding-top: 50px;
    }

    .modal-dialog {

        overflow-x: scroll;
    }

    .modal-content {
        width: fit-content;
    }

    .prodimg {

        width: 120px;
        
    }

}






/*---------------------
  Tablet
-----------------------*/
@media (min-width: 769px) and (max-width: 991px) {



    .col-4 {

        max-width: 33.33%;
        flex: 33.33%;
    }

    .row {

        flex-wrap: nowrap;
        margin-right: 0px;
        margin-left: 0px;
    }


    .topsocial {
        font-size: 20px;

    }


    
    .modal-dialog {

        max-width: 500px;;
    }

    .prodimg {

        width: 120px;
    }

}




/*---------------------
  Desktop
-----------------------*/

@media (min-width: 992px) {



    .row {

        flex-wrap: nowrap;
        margin-right: 0px;
        margin-left: 0px;
    }

    .topsocial {
        font-size: 25px;

    }



    .prods.modal-content {

        width: 100%;
    }

    .modal-dialog {

        max-width: 700px;;
    }

    .prodimg {

        width: 290px;
    }

}
