/* Main Doc */

body {

    font-family: 'Dosis', sans-serif;
    background-image: url('tbbak1.jpg');
}

/* Preloder|DO NOT TOUCH! */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}


/* --Logo Banner- */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {

    .bann.col-6 {
        max-width: 100%;
        flex: 0rem;
    }


    .socicon {

        text-align-last: center;
        padding-top: 10px;
        width: 100%;
    }

    .topsocial {
        font-size: 20px;

    }

    .logo {

        width: 60%;
    }

}



/* Medium devices  */
@media screen and (min-width:601px) and (max-width:900px){

    .bann.col-6 {

        max-width: 50%;
    }

    .bann.row {

        flex-wrap: nowrap;
        margin-right: 0px;
        margin-left: 0px;
    }

    .socicon {

        text-align-last: right;
        padding-top: 20px;
        padding-right: 50px;
        width: 100%;
    }

    .topsocial {

        font-size: 30px;

    }

    .logo {

        width: 90%;
    }

}




/* Large devices  */
@media only screen and (min-width: 901px) {

    .bann.col-6 {

        max-width: 50%;
    }

    .bann.row {

        flex-wrap: nowrap;
        margin-right: 0px;
        margin-left: 0px;
    }

    .socicon {

        text-align-last: right;
        padding-top: 20px;
        padding-right: 50px;
        width: 100%;
    }

    .topsocial {

        font-size: 30px;

    }

    .logo {

        width: 90%;
    }

}
