
/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: -30px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #000000;
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}




.nav {
    background-color: #000000;
    border-color: #E7E7E7;
}